@import "~bootstrap/scss/bootstrap.scss";

#barrita{
  background-color: grey;
  width: 20px;
  height: 150px; 
  margin: auto;
}

#semaforo{
  background-color: black;
  width: 150px;
  height: 350px;  
  border-radius: 10px; 
  padding-top: 20px;
  margin: auto;
}

.red {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    color: red;
}

.yellow {
    background-color: yellow;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    color: yellow;
}

.green{ 
    background-color: green;
     width: 100px;
    height: 100px;
    border-radius: 100%;
    color: green;
}

.selected {
    box-shadow: #f8ffcc 0px 0px 50px 20px;
}
